@model blog_template_practice.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts by Category</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/StyleSheet.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/Category/">Journable Home Page</a></li>
            <li><a href="/Content/">All Journable Posts</a></li>
            <li><a href="/Content/Create">Submit Post</a></li>
        </ul>
    </nav>
    <h1>@Model.Name Posts</h1>
    <main>
        @foreach (var post in Model.Contents)
        {
            <hr />
            <h3>@post.Title</h3>
            <p>@post.Body</p>
            <p>@post.Author</p>
            <p>@post.PublishDate</p>
        }
        <p><a href="/Category/">Back to Journable Home Page</a></p>
    </main>
</body>
</html>